body {
	margin: 0 auto;
	font-family: 'sans-serif';
}
ul {
	list-style-type: none;
	padding: 8px;
}
li {
	display: inline;	
}
li a:hover {
	background-color: #6B99D7;
}
a {
	text-decoration: none;
}
main {
	margin-left: 100px;
}



div.products {
	box-sizing: border-box;
	float: left;
	width: 24%;
	width: 220px;
	height: 365px;
	margin: 10px 5px;
	padding: 5px 2px;
	border: 0.1px solid #E2DFDF;
}
div.products p {
	line-height: 20px;
}
div.products a {
	color: black;	
}
div.productImage img {
	padding: 15px 0 10px; 
	width: 190px;
	height: 190px;
}
div.productName h2 {
	font-weight: lighter;
	font-size: 15px;
	display: -webkit-box;
	padding-left: 10px;
	margin-bottom: 5px;
}
div.productPrice {
	font-weight: bold;
	font-size: 15px;
	padding-left: 10px;
}
div.productInfo {
	font-size: 12px;
	padding-left: 10px;
}
div.productInfo p:before {
	content: '● ';
}
div.brand img {
	width: 20px;
	height: 20px;
	display: inline;
}
div.footer {

}
div.footer img {
	margin: 30px 0px 20px 20px;
	float: left;
}
div.contact {
	float: left;
	margin: 50px 10px 20px 250px;
}
* {
	margin: 0;
	padding: 0;
}
